[2017-04-18 12:05] mcat-ee opened #5 "Are you open to pull requests?"
If so, would you accept a QuickHull algorithm for solving hulling problems?

[2017-04-18 16:48] keon commented on #5
Sure!

[2017-04-19 01:52] #5 closed

[2017-04-22 16:39] stereobooster opened #10 "Cross link to other language implementations"
Something like [Rosetta Stone](https://en.wikipedia.org/wiki/Rosetta_Stone) for [code](http://rosettacode.org/wiki/Category:Programming_Tasks).

[Similar repo in ruby](https://github.com/sagivo/algorithms).

[2017-04-23 00:32] memeplex opened #12 "Naming conventions"
Not that this is all too important, but given that in a (lesser) sense yours is also a python programming showcase, wouldn't it be desirable to honour pep8 suggestions? For example, to avoid camel case names like `isEmpty`.

[2017-04-23 00:59] keon commented on #12
Yeah, PEP8 is good and I think it is important.
The current implementation has mixed styles, which I think is confusing.
I just didn't have time to organize them. I think I'll do so in a month.

[2017-04-24 18:26] delirious-lettuce opened #15 "Non-Python code"
Despite ending with `.py`, neither of these files have Python code in them.

* [make_sentence.py](https://github.com/keon/algorithms/blob/master/string/make_sentence.py)
* [combination_sum.py](https://github.com/keon/algorithms/blob/master/dp/combination_sum.py)

[2017-04-24 20:00] keon commented on #15
yup. I gotta convert that to Python.
Thanks for the reminder

[2017-04-24 20:02] delirious-lettuce commented on #15
No problem! I'm actually just about to send you a PR for a different file in this repo.

[2017-04-24 21:27] delirious-lettuce opened #17 "Repo Python version?"
This repo doesn't seem to be consistent about which version of Python the code is written for.

* Some files use type hints (`SyntaxError` in Python 2)
* Some files use `print` statements (`SyntaxError` in Python 3)
* [garage.py](https://github.com/keon/algorithms/blob/master/array/garage.py) has a mix of `print` statements and `print` as a function (although Python 2 doesn't treat it as a functio

[2017-04-24 23:43] keon commented on #17
I think we should make it consistent for Python 3.5+

[2017-04-25 02:31] evandrix opened #18 "include max flow min cut?"

[2017-04-25 02:34] keon commented on #18
yeah definitely.

[2017-04-25 11:14] eliotpearson opened #21 "Anagram.py defines all_perms method twice"
Not sure if this was intended, but the code doesn't seem to access the first all_perms function.

https://github.com/keon/algorithms/blob/0ef4b7409a1480b0522da04e9952a732fb76b4c4/backtrack/anagram.py#L1-L17

[2017-04-25 12:57] ankit167 commented on #21
Looks like different versions of the same function is written (one to demonstrate yield, and the other to demonstrate return). Clearly, one of the functions should exist, If not, the name of the functions can be changed.

[2017-04-25 17:02] delirious-lettuce commented on #17
@keon ,

It would probably be better to be more explicit about the target Python version(s) in the repository description and `README`.

The only "issue" with the repository being 3.5+ is that the examples then can't use fstrings (since they are 3.6+ only). That's a decision you'll have to make.

---
Also, I'm not sure that type hints (as function annotations) should be used in the examples since

[2017-04-25 17:04] mingrammer opened #24 "How about adding links between README and Python code?"
It would be better to link the python source code and algorithm title on README.md. If you agree with this, I'm willing to add it and make PR.

[2017-04-25 17:06] keon commented on #24
absolutely bruh.
Sounds awesome.

[2017-04-25 17:08] delirious-lettuce commented on #24
@mingrammer ,

This sounds like a good idea.

[2017-04-25 18:22] #24 closed

[2017-04-25 22:13] delirious-lettuce commented on #21
I'm curious as to why @keon didn't use `itertools.permutations` for `all_perms`?

[code]

The current implementation of `all_perms` seems very inefficient and not very "Pythonic".

---
Also, the `anagram` function itself is written in an odd way as well. Using `collections.Counter` is much easier.

[code]

[2017-04-26 01:43] mingrammer opened #29 "Plan for testing"
I want to add some additional matrix algorithms and some tests for that.

So, do you have a testing plan of test format, rules of in/output example data, test script name and others?

[2017-04-26 07:08] fooofei opened #31 "Small mistake in sort/merge_sort.py array merge"
code location:  `keon/algorithms/blob/master/sort/merge_sort.py`

## mistake 1

origion code:  line - 30

[code]

should be ==>

[code]

more pythonic efficient way ,no construct sub array ==>

[code]

## mistake 2

origion code : line - 38

[code]
should be ==>

[code]

[2017-04-26 07:21] barrey11 commented on #29
tell methe details.

[2017-04-26 07:48] mingrammer commented on #29
Well, I want to know following for writing test codes

How can I write the tests for some algorithms? Where? How? There are some rules? See example,
[code]
or
[code]
or
[code]

And how can I run the tests for all algorithms?

[2017-04-26 08:02] keon commented on #29
I think people should be able to run the algorithm using the implementation file. This is because we want people to learn and test algorithm with the minimalistic approach. But those simple tests cannot test the algorithm properly. So I suggest we put 4~5 simple tests in `__main__` and more extensive tests in the separate file. For now, we only have `__main__` (some don't even have it).

[2017-04-26 08:13] keon commented on #17
@delirious-lettuce thanks for the good points!
I really like fstrings... but I am not sure what % of python users use 3.6. I guess the majority still uses 3.5.
Though I think it shouldn't matter since this repo is going to be a stand-alone project for learning purposes.

Yeah, I think it's better to switch to docstrings. Many are more familiar with it and many IDEs still don't recognize type hinti

[2017-04-26 08:16] mingrammer commented on #29
@keon  Thanks for giving a suggestion. I'll use that way as following

[code]

[2017-04-26 08:37] keon commented on #29
@mingrammer
that's a good idea!

[2017-04-26 14:25] jprojs commented on #29
I think we must use assert function (TDD) with some tests for this purpose

[2017-04-26 17:56] Aluriak commented on #29
A good way to go could be to have dedicated `test_*.py` files in each directory.
It keeps the simplicity in source files, but allow one to expose more complete testing suite for an algorithm.
This last point is IMHO an important feature, mostly because it could provide a much more complete set of living examples, showing both general and corner cases to those who are interested in.

I'm a big fan

[2017-04-26 20:54] delirious-lettuce commented on #29
@Aluriak ,

`pytest` is a great idea.

One of the issues with using regular `assert` statements (without `pytest`) is that as soon as one test fails, any other tests below it will not run. This is also the case where multiple unittests are run in a for loop (as shown by @mingrammer 's example `for test in tests`).

`@pytest.mark.parametrize` can help with that because it will run all the tests and

[2017-04-26 21:00] delirious-lettuce commented on #17
@keon ,

As much as I also like `fstrings`, I think you are correct that many people are still using Python 3.5.

[2017-04-26 22:04] keon commented on #29
`doctest` seems to be another great option we have.
https://docs.python.org/3.5/library/doctest.html

[2017-04-27 00:09] mingrammer commented on #29
keon want to keep the tests in the implementation files, but if we use `pytest`, we should use test files. So, .. I'm little a bit confused because I've never used both them: `pytest` and `doctest`. Which is better in our case? Any ideas?

[2017-04-27 01:24] keon commented on #29
@mingrammer @delirious-lettuce
What do you think is better? I don't have experience in using Python for testing.
But I vote for `docstring` since it keeps all our implementation + test in one file for an algorithm.

[2017-04-27 01:32] keon commented on #21
@delirious-lettuce
hmm.. that was to show the inner workings of permutation.
if we just use permutation function it defeats the purpose. But them I guess it becomes not so pythonic. So why don't we keep the generator version. The one-liner version using permutation function can go into `docstring`.

Your `Counter` trick for anagram is awesome. Let's also put that into the `docstring`.

[2017-04-27 12:25] qkraudghgh commented on #10
Nice Idea
and I'm rewriting it in the golang
check [this repo](https://github.com/qkraudghgh/algorithms)
Thx.

[2017-04-27 13:43] Aluriak commented on #29
Doctest and pytest are often used together.

Take for instance this repository : some tests are pushed behind the `if __name__ == '__main__':` line. This is not really the good place for it in more complex architectures, because sometimes imports needs the module to be deep into a package. The main script can't therefore be run as a standalone.
(and, in this case of the repo, the user have to perf

[2017-04-28 02:52] alisha17 commented on #31
Can I work on this issue?

[2017-04-28 02:54] keon commented on #31
@alisha17 of course!

[2017-04-29 05:36] ankit167 commented on #31
'arr' needs to returned at the end of the merge() (in the new code)

[2017-04-29 05:41] fooofei commented on #31
@ankit167  thanks for point that `return arr`

[2017-04-30 14:07] ankit167 opened #49 "Complexity of algorithms"
There can be several approaches to solve a problem- the optimal, suboptimal or the brute force approach.
For an algorithm written in x.py, is it a good option to may be discuss the various approaches (write separate function in the file, for each approach)?, or just post the optimal solution?

The reason I brought this up is because, some algorithms in the repo have the optimal code written, while

[2017-05-02 02:19] mingrammer commented on #29
Ok, I'll use the doctest first for my PR. Thanks for with conversation!

[2017-05-04 02:33] zhyack opened #53 "Any plan to make it a python package?"
It seems that codes in this repo are more tutorials than tools. I wonder if there is any plan to convert the codes to efficient python apis?

[2017-05-04 09:05] Aluriak commented on #53
The simpler way could be to put all directories containing code in a global `algorithms/` directory and create the setup.py accordingly. Instant upload garanteed.
(and it could also simplify a little the testing organization, see #29 )

The first problem : it already exists. [pypi](https://pypi.python.org/pypi/algorithms) and [github repo](https://github.com/nryoung/algorithms]. A solution could b

[2017-05-04 09:18] zhyack commented on #53
@Aluriak
Clear enough for me. Thank you!

Maybe it's better to put the links into README.

[2017-05-04 09:19] #53 closed

[2017-05-09 07:06] arpitjain305 opened #59 "math/prime_test.py"
the prime_test function returns true for 35, while 35 is not a prime.

[2017-05-09 09:49] ankit167 commented on #59
Also returns true for 25

[2017-05-09 10:22] Aluriak commented on #59
Well, by looking quickly to the source, it is obvious that the algorithm is false. The most basic fix is to add `n % 5 == 0` in line 11, but i bet i would not be sufficient.

The following code is enough:

    if n <= 1: return False
    for i in range(2, 1 + math.sqrt(n)):
        if n % i == 0: return False
    return True

[2017-05-11 05:43] Charlespoole opened #61 "@array/garage your math is wrong"
in the garage problem, when i set the initial = [1,2,3,4,0,5,6] and final = [1,6,0,4,5,3,2] ,in your math, the result is 7. But my math will use only require 5 steps to do it which are
[1, 2, 3, 4, 5, 0, 6]
[1, 2, 0, 4, 5, 3, 6]
[1, 2, 6, 4, 5, 3, 0]
[1, 0, 6, 4, 5, 3, 2]
[1, 6, 0, 4, 5, 3, 2]

[2017-05-13 01:15] ankit167 commented on #59
@Aluriak could you please push the fix.

[2017-05-14 08:30] mathagician commented on #59
This has been fixed and pull request has been merged.

[2017-05-14 12:56] #59 closed

[2017-05-15 21:45] samakshjain commented on #61
Can confirm this.
You may play with my code on repl.it, [here](https://repl.it/Hz2u/latest) and the original [here](https://repl.it/Hz2x/latest).

[2017-05-18 05:37] #31 closed

[2017-05-19 13:54] vanarpsharma opened #72 "No requirements.txt file"
There should be a requirements.txt file given the python3 version being used

[2017-05-19 19:23] Aluriak commented on #72
AFAIK, `requirements.txt` is not dedicated to used python version, but rather for [third-party library dependancies](https://pip.readthedocs.io/en/1.1/requirements.html).

[2017-05-31 10:04] akonieczny opened #80 "No License"
How is type of license for this project?

[2017-05-31 11:13] keon commented on #80
fixed in  9ca7c83

[2017-05-31 11:13] #80 closed

[2017-05-31 11:15] keon commented on #72
I think the only dependency is Python 3... right?

[2017-06-13 23:32] keon commented on #72
Closing issue since this seems to be no problem

[2017-06-13 23:32] #72 closed

[2017-06-24 21:16] marcosfede commented on #10
Inspired by your repo, I started solving the problems myself and building implementations in many other languages. Here is a [Link to my repository](https://github.com/marcosfede/algorithms).
Regards

[2017-07-01 06:10] JacobIRR commented on #29
@keon Let me know if there is a concrete idea of what the testing should look like. I just did a file (kth_to_last) in the linkedlist dir and I think the whole dir would benefit from a dedicated test file.

[2017-09-14 08:13] Hanzhizheng opened #98 "Is this work? algorithms/tree/bst/is_bst.py"
[code]

[2017-10-27 22:32] Charlio commented on #98
This is a typical iterative inorder depth-first search. The improvement is to use a pre variable to store the previous node value to compare with current node value

[2017-11-12 07:13] yogeshAgarwal opened #113 "Add Coin Change Problem In Dp"

[2017-11-12 07:14] yogeshAgarwal commented on #113
Can i add This alog?

[2017-11-12 15:18] keon commented on #113
sure :)

[2017-11-13 06:09] yogeshAgarwal commented on #113
I just Sent a pr,
Sorry first i send the java file, but edit that in python code.

[2017-11-13 06:10] #113 closed

[2017-11-19 05:01] newbazz commented on #49
hey @ankit167 i want to add a linter support in this project which will take care of the coding style. This is part of my winter project, can you guide me if i can take this issue up or not?

[2017-12-23 04:30] saifulazad opened #118 "Add graph algorithm Topological Sort, Mimimum spanning tree"

[2017-12-31 10:41] wasiqnoorahmad commented on #118
@saifulazad I am not sure about Topological sort. But, Minimum Spanning Tree is already at [https://github.com/keon/algorithms/blob/master/graph/minimum_spanning_tree.py](url)

[2018-01-18 15:45] eliotpearson opened #119 "Character encoding issue with heap/skyline.py"
Running on python 2.7 on Mac High Sierra I get the following error.

[code]

[2018-01-20 07:04] ReddyKilowatt opened #120 "Python 3 compatibility?"
Are all of these files Python 3 compatible?
If so, please add a line or two about their compatibility with Python 2/3 on the download page.

Thanks

[2018-01-21 03:40] jadhavmanoj commented on #119
getting the same error. I resolved it by adding file encoding as utf-8. at the top of the file.
`# -*- coding: utf-8 -*-`.

@keon let me know if this is good practice.

[2018-01-25 11:26] keon commented on #119
Sure. But I recommend using Python 3 in the first place.

[2018-01-25 17:25] eliotpearson commented on #119
@keon is the project only supporting Python 3 officially?  Most Macs are rolling with 2.7.  I understand if 3 is the standard.

[2018-02-04 16:54] ankit167 opened #124 "Issue in output of backtrack/factor_combinations.py"
On running the code for sample paramters below

Input
12

Output
2, 6.0
2, 2, 3.0
3, 4.0

Expected output
2, 6
2, 2, 3
3, 4

[2018-02-26 20:01] #124 closed

[2018-03-02 06:47] FlyingFishBird opened #137 "syntax error at array/merge_intervals.py:54"
array/merge_intervals.py line 54 show be
`print(merge_intervals(given))`

[2018-03-02 07:05] goswami-rahul commented on #137
Fixed

[2018-03-06 01:54] #21 closed

[2018-03-06 01:59] #137 closed

[2018-03-06 06:06] #61 closed

[2018-03-06 06:08] #119 closed

[2018-03-06 14:58] goswami-rahul commented on #120
I think all files should be converted from Python 2 to Python 3 to resolve this conflicts issue.
What do you say @keon ?
It should be mentioned in the README.md or I think we need a CONTRIBUTING.md stating that further commits must be in Python 3.

[2018-03-22 19:42] christianbender commented on #29
I added a unittest to the [bomb_enemy.py](https://github.com/keon/algorithms/blob/master/matrix/bomb_enemy.py).
I can do this for other files, if it welcome.

[2018-03-23 02:12] keon commented on #29
@christianbender that'd be awesome :)

[2018-03-26 17:31] goswami-rahul commented on #49
I think the more the approaches to the problem, the better. However, the complexity should be mentioned for each approach, as if will help compare among the optimal and other implementations.

[2018-03-26 17:45] goswami-rahul opened #162 "separate test module"
Since we now have tests in most of the algorithms, I think it is a good idea to have a separate `test_module.py` file in each module. We can move all the tests from one module to it, and any further algorithms must have their tests in this file. It will make the repo easy to manage.
@keon what do you think? I can start working on this.

[2018-03-27 17:02] christianbender commented on #162
@goswami-rahul
The problem is that we have not in all projects unit tests. Many projects (that I have see) have simple tests with the ```print``` function that prints something on the console. The idea with the central test-file sounds good.

[2018-03-27 19:40] #98 closed

[2018-03-27 19:42] #15 closed

[2018-03-27 19:52] goswami-rahul commented on #162
yeah those print statements need to be changed to tests too.
But there is one disadvantage in moving tests to separate file, that the tests at the same place can also help viewers understand the algorithms better.

[2018-03-28 15:47] TheoYuan opened #173 "Bug in algorithms/array/flatten.py, line 10"
Run the `flatten(inputArr, outputArr=None)` function in python3.5.
It seams ok when the test case is [2, 1, [3, [4, 5], 6], 7, [8]].
But when using [[3, [4, 5], 6], 7, [8]], function outputs [7, 8] not [3, 4, 5, 6, 7, 8].
That is because `not None` and `not []` will be both True in line 10.
Take a = [[3, [4, 5], 6], 7, [8]] as example, first call `flatten(a, None)`.
It will call `flatten([3, [4, 5

[2018-03-28 16:17] #173 closed

[2018-03-28 16:19] goswami-rahul commented on #173
Nice catch @TheoYuan . `if outputArr is None` works fine :+1:

[2018-03-30 06:56] keon commented on #120
sorry for the long overdue response.
of course, we should convert all to Python3 since it is the future!

[2018-03-31 16:19] christianbender commented on #162
@goswami-rahul  I will jump in.

[2018-04-01 15:39] christianbender commented on #162
@goswami-rahul @keon
I will test the module ```maths```.  I add a file ```test_module.py``` with all tests.

[2018-04-01 19:41] christianbender opened #181 "What does this algorithm do?"
@keon @goswami-rahul

[nth_digit.py](https://github.com/keon/algorithms/blob/master/maths/nth_digit.py)
In this file is the function ```find_nth_digit(n)```
At the moment I ponder what this function does do?
The explanation of the author helps me not.

**Tests:** At the moment I wrote tests for the module ```maths```

[2018-04-01 19:44] goswami-rahul commented on #162
@christianbender I would wait for starting work on this until @keon approves on this issue.

[2018-04-01 19:48] christianbender commented on #162
@goswami-rahul  OK, I will wait. Thanks for the notice

[2018-04-02 07:54] keon commented on #181
@christianbender
I think it came from this one: https://leetcode.com/problems/nth-digit/description/
an interesting problem.

[2018-04-02 08:11] goswami-rahul commented on #181
@keon @christianbender I found a similar, a bit difficult problem yesterday which was generalised for any base `2<=b<=10`, and had range query for a single digit. Any ideas on [this problem](https://www.hackerearth.com/practice/algorithms/dynamic-programming/2-dimensional/practice-problems/algorithm/killjee-and-infinite-string-beae8adf/)?

[2018-04-02 15:07] goswami-rahul opened #182 "bfs/word_ladder.py failing test cases"
It failes for cases
- when beginword and emdword is same
- or differ by 1 letter and both not in wordlist

[2018-04-02 15:22] goswami-rahul commented on #182
Nevermind. did a quick fix.

[2018-04-02 17:54] #182 closed

[2018-04-03 17:10] christianbender commented on #181
@keon Thanks for the informations.

@goswami-rahul  I will see it.

[2018-04-05 10:14] goswami-rahul opened #187 "what does linkedlist/copy_random_pointer.py do?"
[copy_random_pointer.py](https://github.com/keon/algorithms/blob/master/linkedlist/copy_random_pointer.py)
has badly written description and code. Don't know what this does?
@christianbender @keon

[2018-04-05 15:37] keon commented on #187
hmm. i don't remember but when I search it on google, this shows up: https://leetcode.com/problems/copy-list-with-random-pointer

[2018-04-06 04:55] danghai opened #190 "Implement the Priority queue ( Heap) ?"
I do not see the priority queue (heap) in repo. I am going to write heap (probably min heap) when you approve.

[2018-04-06 06:45] goswami-rahul commented on #190
@danghai  Great! Just try to follow the similar code pattern as in the other already implemented queues.

[2018-04-07 15:08] party98 commented on #120
Hi, I'd like to take this up.

[2018-04-07 15:09] party98 commented on #12
Hi, I'd like to take this up.

[2018-04-07 16:39] christianbender commented on #162
@danghai At the moment I pause on my work on this task. Because we don't have an approval.

[2018-04-08 03:00] danghai opened #198 "Consider implement AVL tree"

[2018-04-08 19:45] #190 closed

[2018-04-09 03:57] #181 closed

[2018-04-09 03:58] #187 closed

[2018-04-09 12:39] #118 closed

[2018-04-10 09:59] keon opened #210 "Add more maintainers"
As the repo grows rapidly, I believe we need more hands on fixing code and reviewing PR.
I recommend @danghai and @SaadBenn to become our new maintainers since they contributed a lot lately.

What do you guys think?
@goswami-rahul @christianbender

[2018-04-10 14:46] christianbender commented on #210
Yeah, of course. Then I can work on #162  (we wait of your approval, keon?)

[2018-04-10 15:02] keon commented on #162
@christianbender

sorry for the late reply :(
As the repo gets larger, separating test code may be more scalable.
Let's give it a shot and see if it works better!

[2018-04-10 17:15] goswami-rahul commented on #210
Yes, it is a good decision. More active maintainers will help the repo grow faster :)

[2018-04-11 11:29] keon commented on #210
Welcome :)
I am in NYC by the way.

[2018-04-11 11:29] #210 closed

[2018-04-11 12:43] goswami-rahul opened #213 "Many syntax errors that must be resolved."
Travis caught many errors during its [first build with flake8](https://travis-ci.org/keon/algorithms/builds/365078195).
It is requested and advised to not add further algorithms until the current known errors are resolved because otherwise, Travis will always show errors for your PR, even if your changes are correct.
Let's fix those errors first! (check the above link).

[2018-04-11 13:29] goswami-rahul commented on #213
Fixed. It was faster than I thought.

[2018-04-11 13:29] #213 closed

[2018-04-12 04:20] goswami-rahul opened #218 "Please avoid directly commit to master"
A quick reminder to the newer collaborators :)
Please avoid directly committing to this repo. It is always a good idea and practice to open a PR for any change ( adding an algorithm or modifing something). In this way, other collaborators can review and suggest changes, which will be more helpful for the repo.  This will also let identify errors and avoid merges to the main repo causing errors lik

[2018-04-12 13:56] SaadBenn commented on #218
It was my mistake, I'll be careful next time.

[2018-04-12 20:24] christianbender opened #219 "rsa.py: make generate_key(k) more efficient."
The function:
[code]
works extrem slow! Just for small keys ```k``` like 64.

* In addition the function ```generate_key(k)``` has a bug because the decryption process only fails.

You find the file [here](https://github.com/keon/algorithms/blob/master/maths/rsa.py)

[2018-04-12 20:43] #219 closed

[2018-04-12 22:31] christianbender commented on #198
@danghai Can you be more detailed? Has the implementation a bug?

[2018-04-12 22:32] christianbender commented on #162
@keon @goswami-rahul #220

[2018-04-12 22:43] christianbender commented on #218
@goswami-rahul @SaadBenn @danghai
Maybe we should notice this in the [CONTRIBUTING.md](https://github.com/keon/algorithms/blob/master/CONTRIBUTING.md) . And should this file link in the README.md. Right away in the head.

[2018-04-12 23:55] danghai commented on #198
@christianbender, I do not see the implementation AVL tree.

[2018-04-13 00:01] danghai commented on #218
@SaadBenn
Please do not commit with the general name (Ex: `Update README.md`). Writing a good specific commit makes other people easy to follow and know what you do in your commit. It also helps people keep track of information about these commit later when they want to review

[2018-04-13 00:04] SaadBenn commented on #218
I'll make sure of that. @danghai

[2018-04-13 00:33] SaadBenn commented on #218
I was thinking that we are making one too many commits for each algorithm or test that we submit. Is it possible to squash it to maybe just a single commit/ file unless the commit is very specific then in that case we can have that. Another issue that I found was that our git history is very non-linear. There is a lot of bubbles in our git history which makes it impossible to follow. The solution

[2018-04-13 15:39] goswami-rahul opened #226 "bugs in math/rsa.py"
math/rsa.py sometimes shows up an error which means it still has some bugs. It passed previous tests because the data for rsa test is generated randomly, due which like it fails sometimes. This need to be fixed!
https://travis-ci.org/keon/algorithms/builds/366117956
when I restarted build, the test was passed.

[2018-04-13 16:38] goswami-rahul opened #228 "removing general_solution.md"
https://github.com/keon/algorithms/blob/master/backtrack/general_solution.md
This file, being a text file and written in _Java_, doesn't fit with the rest of the repo. @keon Should we remove this?

[2018-04-13 20:04] christianbender commented on #226
@goswami-rahul
I thought I had fixed the bug. I added ```random.seed()``` in the function ```def genprime(k):``` in the file rsa.py

[2018-04-13 20:34] christianbender commented on #226
@goswami-rahul
I think the encryption level is to low with 8 bits.I wrote a new test with encryption level ```26 bits```. The test runs 100 times successful! If I minimize the encryption level the test fails!

The original author used a encryption level of 1024 bits! On my machine a encryption level of 32 bits already  takes a while! 1024 bits for me impossible.

[2018-04-14 05:11] goswami-rahul commented on #226
@christianbender yes I changed some parameters of generate_key(). I added an optional argument `seed` which would help in testing. I also rewrote `is_prime` inside it, instead of importing from `rabin_miller` to resolve ambuiguity in #227 .

[2018-04-14 18:46] keon commented on #218
@goswami-rahul @christianbender @danghai @SaadBenn
I agree with @SaadBenn . If possible please squash the commits so that it is easier to see what individual commits are for.
I'll close the issue.

[2018-04-14 18:46] #218 closed

[2018-04-16 12:41] christianbender commented on #226
@goswami-rahul Can we close this issue?

[2018-04-16 13:00] #226 closed

[2018-04-17 21:38] swagle8987 commented on #120
I'd like to take this up as well. I am new here so I don't know how much of the code is Python 3. It would be a great help if it was possible to know which files have been converted.

[2018-04-19 07:26] kurianCoding commented on #10
Implementing it in Golang, along with some more algorithms that I find int the website geeksforgeeks
[this](https://github.com/kurianCoding/g4g) is the repo.

[2018-04-21 01:26] danghai opened #240 "Error: test case SeparateChainingHashTable implementation"
I have error when I try to run `test_graph` for `tarjan`. I am not sure about this algorithm.
Hello, @mecforlove . It is very nice when you take a review about it? Thanks
[code]

[2018-04-21 01:40] danghai opened #241 "Bit Manipulation: Some interesting questions"
1) **Flip Bit to win:** You have an integer and you can flip exactly one bit from a `0` to `1`. Write code to find the length of the longest sequence of `1s` you could create.
For example:
Input: 1775 ( or: `11011101111`)
Output: 8

2) **Conversion:** Write a function to determine the number of bits you would need to flip to convert integer A to integer B.
For example:
Input:  29 (or: `11101`), 15

[2018-04-21 02:32] mecforlove commented on #240
Can you provide more details? Is this related to `SeparateChainingHashTable`?

[2018-04-21 02:45] danghai commented on #240
@mecforlove I just look your commit in PR.
It is fail when I run command to test the algorithm: `python3 -m unittest test_graph.py`. I think it has something wrong in algorithm. In particular: in test_graph
[code]
I know you did not write the `test_graph`. Could you take review the code in Tarjan, and figure out why the test case is wrong?

[2018-04-21 02:49] danghai commented on #240
Oh sorry I thought you do in test_graph. Sorry I make you confused. You did it in map

[2018-04-21 08:35] muneeb20 commented on #12
#242

[2018-04-21 09:39] goswami-rahul commented on #241
Not sure about the first problem, but the second problem can be solved by first taking the `xor` of the two numbers, and then count the number of set bits in it.

[2018-04-21 17:59] muneeb20 commented on #198
#244 please recommend more methods

[2018-04-21 21:34] danghai opened #246 "Write all test case for string: test_string.py in tests"

[2018-04-22 16:22] christianbender opened #247 "Tests in directory tests"
[tests](https://github.com/keon/algorithms/tree/master/tests)
If I ran the tests I get this kind of error message:

ImportError: No module named 'search'

or

ImportError: No module named 'array.delete_nth'; 'array' is not a package

[2018-04-22 16:27] SaadBenn commented on #241
Those are very interesting questions. @danghai
Bit manipulation is something that I lack.

[2018-04-22 17:36] goswami-rahul commented on #247
@christianbender I think there is no `__init__.py` file in `array` and `search` module yet, that is why it is not recognized as a package.

[2018-04-22 20:34] danghai commented on #247
Hello @christianbender , could you give exact the command makes these error.
btw, you miss the `__init__` in maths

[2018-04-23 06:48] danghai commented on #247
Thanks, that is all I am looking for

[2018-04-23 07:12] goswami-rahul commented on #247
@christianbender are you sure your branch is currently updated with the original repo?
Because your master branch is currently 220 commits behind this repo. Please update your fork, and try again if this error still shows up.

[2018-04-23 11:30] murilocamargos commented on #240
I'll take a look into it. Thanks @danghai

[2018-04-23 12:47] danghai commented on #241
@SaadBenn I create some questions in bit manipulation in PR #253 (It does not contain 2 questions in this issue). You can contribute by adding more algorithm to solve the problem, or get more bit manipulation question.

[2018-04-23 20:27] christianbender commented on #247
@goswami-rahul  My local branch on my machine is up to date.
@danghai

btw, you miss the __init__ in maths

I tried to ran any file. But this error (above) occures. In the example above I tried to ran the file ```test_search.py``` and the file ```test_array.py```.

[2018-04-23 20:43] danghai commented on #247
@christianbender  what is your command line?

[2018-04-23 20:51] christianbender commented on #246
@danghai I will write tests for the module ```strings```. But how can I move this file in the directory ```tests``` and run the tests in it?

[2018-04-23 20:55] danghai commented on #246
@christianbender I have updated the `README.md` about how to test all module, or how to test a specific module

[2018-04-23 20:58] christianbender commented on #247
@danghai @goswami-rahul  I'm a idiot! :angry: I started the files seperated ... :flushed: Now with the command ```python3 -m unittest discover tests``` it works perfect! :smirk:

[2018-04-23 20:58] #247 closed

[2018-04-23 21:01] danghai commented on #246
No, you are not. You just miss updated information.

[2018-04-23 21:17] danghai opened #254 "Write all test case for tree: test_tree.py in tests"
Not sure how to write unittest to test these function and class in Tree.
My idea is to convert tree to list by `pre-order`, `in-order`, `post-order` traversal and then using assert?

[2018-04-24 02:08] SaadBenn commented on #241
@danghai Thanks. I'll get back to adding more algorithms but at the moment I've some big assignments going on.

[2018-04-24 19:28] christianbender commented on #246
@danghai  Done #255

[2018-04-24 19:30] christianbender opened #256 "strip_url_params.py : BUG in function strip_url_params3(...)"
The file ```strip_url_params.py``` is buggy. Because one times the tests run successful and a other times it fails. I comment out the test for this file.

***important:*** The bug is in the function ```strip_url_params3``` of the file above.

@SaadBenn Can you look in it? The project is from you.

[2018-04-24 19:40] SaadBenn commented on #256
Yeah sure, currently I'm a bit busy. Is it okay if I take my time with it? I have some huge assignments atm that I need to complete and that's the reason I have not been so active lately. @christianbender

[2018-04-24 23:38] danghai commented on #256
Could you elaborate the error you got?

[2018-04-24 23:41] danghai commented on #254
Hi @Njsao . We do not have any `unittest` for the Tree module yet. I think bst is a good start.

[2018-04-25 14:36] christianbender commented on #256
@danghai The error message of the failed test looks so

    self.assertEqual(strip_url_params3("www.saadbenn.com?a=1&b=2&a=2"), "www.saadbenn.com?a=1&b=2")
AssertionError: 'www.saadbenn.com?b=2&a=1' != 'www.saadbenn.com?a=1&b=2'

[2018-04-25 14:39] SaadBenn commented on #256
I'll step through it today once I get off work. @christianbender

[2018-04-25 14:40] christianbender commented on #256
@SaadBenn Thanks

[2018-04-25 14:45] #246 closed

[2018-04-25 18:02] Njsao commented on #254
Ok I m on it.

[2018-04-25 21:13] Njsao opened #257 "in tree.bst.delete_node self.deleteNode is not defined"
https://github.com/keon/algorithms/blob/master/tree/bst/delete_node.py

at line 63 and 65 the function deletenode is called.
This method does not exist, maybe a recursive call of delete_node was meant?

[2018-04-26 01:41] danghai commented on #257
Hi @Njsao I think they write your code and test on leetcode. Could you remove `class Solution(object):` , and remove `self` in method?
What is your plan on testing these function by using `unittest`?

[2018-04-26 05:09] Njsao commented on #257
Hi @danghai I have already forked and written some unittest:
https://github.com/Njsao/algorithms/tree/test_tree
What do you think about?

[2018-04-26 05:55] danghai commented on #257
Hello @Njsao, I put my comment in your commit.

[2018-04-26 06:32] Njsao commented on #257
I read your comments @danghai. I will refractor those changes before the pull request

[2018-04-27 02:49] danghai opened #258 "Write all test cases for backtrack, queues, matrix, dp"

[2018-04-29 06:55] danghai opened #264 "Consider Python packaging?"

[2018-04-29 16:48] keon commented on #264
I started this repo with the educational purpose, but I think this could be a potential direction for development.
in order to do this, we need to
- make docs for using api
- package and publish in pypi

I found `algorithms` is already in pypi, but it is not maintained (https://github.com/nryoung/algorithms).
It is actually pointing to our repo. Maybe I could reach out and talk.

[2018-04-30 00:58] danghai commented on #264
@keon Awesome!, lets package them locally first. I create the PR for this: #268. But it has some issues. And you can reach out and talk about pypi with them. After local package works fine. We will push everything on pypi.

[2018-04-30 04:34] danghai commented on #258
It still has some test cases for linkedlist

[2018-05-01 22:32] danghai commented on #264
It works for python packaging locally. I merge them in repo. Lets check `README`, let me know if you have any errors

[2018-05-02 00:55] keon commented on #264
shouldn't the api be something like:

`from algorithms.sort import merge_sort`?

we do not want to overwrite python's native api

[2018-05-02 02:00] danghai commented on #264
@keon Yeah it is my mistake. But in order to do it, we need to group all source file under `algorithms` folder. What do you think?

[2018-05-03 16:37] danghai commented on #264
@goswami-rahul do you know how to handle it :) ?

[2018-05-03 19:59] #257 closed

[2018-05-04 05:49] KSH-code opened #275 "Need a translation in Korean"

[2018-05-04 05:54] keon commented on #275
I could do that.
stay tuned!

[2018-05-04 05:55] keon commented on #264
I'll get back to this in a week. My feet is on fire right now :fire:

[2018-05-04 15:48] christianbender commented on #275
@keon I can write a translation in german. Would be nice... In Germany exists many Pythonists :D

[2018-05-04 16:01] keon commented on #275
@christianbender sure, sounds great !

[2018-05-05 20:01] danghai opened #277 "Consider Unix programming"

[2018-05-07 01:37] SaadBenn opened #278 "Organizing the repo neatly"
Hey guys, I was wondering we should put all the algorithms in an `algorithm` folder or something. I feel like It's getting big with all those new files being added to it. I have to scroll all the way down or up to get to where I want and right now I feel it is a bit disorganized. It would be very easy for readers to just click the `algorithm` folder and look for the intended algorithms inside it.

[2018-05-07 01:51] danghai commented on #278
I mentioned it in #264 to handle python packaging to avoid conflict the core's library python by put all folder under `algorithms`. We are going to wait for Keon's approval. But it requires update a lot README, import, ...

[2018-05-07 21:56] keon commented on #278
@danghai @SaadBenn I am going to be able to work on this after friday.
But feel free to work on it ahead :)

[2018-05-09 20:25] christianbender commented on #277
@danghai What do you mean with ```unix programming``` ?

[2018-05-10 02:57] danghai commented on #277
I mean using python to handle some issue relates to `path`, `IO file`, `thread`, `process`, `Operating system`, `network`, ...

[2018-05-11 20:13] #198 closed

[2018-05-11 21:46] christianbender commented on #275
@keon Done. I added a german readme.

[2018-05-11 21:50] christianbender commented on #278
@SaadBenn Do you mean a directory for each problem set?

[2018-05-12 01:38] SaadBenn commented on #278
Oh no that'd make it more congested. What I meant was put everything that we have in an `algorithm` folder and by everything I mean just the algorithms that we have. So `ReadME` and all those other files can stay outside. @christianbender

[2018-05-12 01:39] SaadBenn commented on #278
BTW I'm extremely busy with my semester so please bear with me. I'll start working on this repo ASAP.

[2018-05-13 00:55] keon commented on #278
I'm forever done with my school now. I'm on it :)

[2018-05-13 03:44] SaadBenn commented on #278
Congratulations!! You're one lucky guy. @keon

[2018-05-14 04:47] suigentoo commented on #120
I would like to help with this as well. Is there a up-to-date list of what has and has not been converted?

[2018-05-16 20:02] SaadBenn opened #282 "Does anyone know how to set up Travis for java?"
I know this may not the right place to ask this question but I am working on an Android Studio project and am not very familiar with Travis. All I want is to catch syntax errors and undefined names.

I am asking this questions because the travis for this repo does this nicely. However, I'll be working with Java and was wondering anyone with better understanding could point me in the right directio

[2018-05-16 20:13] danghai commented on #282
@SaadBenn https://docs.travis-ci.com/user/getting-started/ is a good link

[2018-05-16 20:31] SaadBenn commented on #282
Thanks @danghai I looked into that but that doesn't explain how to catch syntax errors. Plus my project is on Gitlab and travis doesn't support gitlab. I am looking for other options.

[2018-05-16 21:57] danghai commented on #282
@SaadBenn You can read some `travis` file from Java trending on github. It is really useful too.

[2018-05-18 07:38] keon commented on #282
Sorry, I don't use Java.

[2018-05-18 07:38] #282 closed

[2018-05-24 05:15] danghai commented on #278
Sorry for late response, what do you think @keon about idea's @SaadBenn ?

[2018-06-01 08:12] #278 closed

[2018-06-01 08:23] keon opened #293 "Add Documentation"
This is an extension of issue #264
To prepare for packaging, we need to properly explain how api works in our documentation.

[2018-06-01 10:38] goswami-rahul commented on #293
@keon should we show the API usage in each module's (or each file's) docstring, or do we write a separate API documentation?
We also need to have complete docstrings in each file to explain what problem the algorithm is solving.

[2018-06-01 19:12] keon commented on #293
@goswami-rahul
Usually we write api usage in docstring and automatically compile it into docs.
And you're right. we have to write docstrings in the right format in each algorithm.

[2018-06-02 02:17] #241 closed

[2018-06-04 02:47] mattandersoninf commented on #254
Would you mind if I added pytest.parameterize functions? Unittest if good if want to make full test classes but it you want to make them into their own test functions, pytest.parameterize can be useful

[2018-06-06 06:17] keon commented on #275
Closing as translations are added thanks guys!

[2018-06-06 06:17] #275 closed

[2018-06-06 07:19] geon0325 opened #315 "Simulation code for sort algorithms"
I think it is a good idea to create a simulation code for sorting algorithms.
For example, in case of Bubble sort, it will simulate like:
2 3 4 5 1
2 3 4 1 5
2 3 1 4 5
2 1 3 4 5
1 2 3 4 5

[2018-06-06 07:39] wldn0202 commented on #315
I want to participate in making simulation codes for sorting algorithms!

[2018-06-06 07:42] lg970325 commented on #315
I have not written any simulation codes yet, but I will write it one by one from now :)

[2018-06-06 08:01] danghai commented on #315
Okay let's try to do one first.

[2018-06-06 08:31] aig031 opened #318 "Little difference between algorithms/arrays and test_array.py"
It is really tiny issue.. But, I find that although algorithms/maths has test_maths.py at algorithms/tests and, queues has test_queues and etc.. However, algorithms/arrays has test_array.py file without 's'. If you don't mind about this, please just closed it. I know it is really tiny issue. However, I just want to alert it.

[2018-06-06 08:40] danghai commented on #318
Because it will violate the python's native api when we import the file name `array`. That is reason why we put `s` at the end of the file.

[2018-06-06 08:43] keon commented on #318
@danghai I think we can roll back everything to the old way without `s`, since now every api has "algorithms" namespace.
The way we name things it right now is not so consistent I feel.

[2018-06-06 08:48] danghai commented on #318
@keon Oh I see. I forget we already group them under `algorithms`.
@aig031 Could you create a PR to modify it?

[2018-06-06 08:54] aig031 commented on #318
@danghai  So, would I rename files with `s`, to without `s`? It'll be easy task. Of course I can do that now.

[2018-06-06 08:55] keon commented on #318
@aig031 yup, that'd be awesome!

[2018-06-06 08:58] danghai commented on #318
@aig031 It has the `strings` too. Could you separate 2 commits for each modification? One for `arrays`, and another one for `strings`? You need to modify the import in tests too. Thanks

[2018-06-06 08:59] keon commented on #318
to be specific: `maths` `arrays` `queues` `strings`

[2018-06-06 09:10] aig031 commented on #318
So, I will move files in arrays to array, maths to math, strings to string, queues to queue, and some test files to remove `s` on name and the import?

[2018-06-06 09:34] keon commented on #264
Thanks to Nic(@nryoung), we are live in PyPI!
He also agreed to join us as one of the maintainers, so please welcome!
now you can install the package with simple command `pip install algorithms`.

[2018-06-06 10:01] goswami-rahul commented on #264
Cheers! :)

[2018-06-06 10:02] #264 closed

[2018-06-06 10:09] keon opened #321 "clean up graph mess"
graph module seems to be quite a mess :+1:
I am going to work on this this week :)

[2018-06-06 10:22] goswami-rahul opened #322 "pypi algorithms homepage don't render README description"
https://pypi.org/project/algorithms/
The README is displaying in its raw form in PyPI algorithms page. @keon

[2018-06-06 10:29] keon commented on #322
Yeah I think we need to use .rst instead of .md.
This will make our lives much easier when we write docs in sphinx, too.

[2018-06-06 10:42] aig031 commented on #318
@keon  I finished tasks, however as I already PR two array algorithms, so it makes me hard to PR this tasks. So if you don't mind, please check my lastest PR, and I will PR this immediately.

[2018-06-06 10:49] keon commented on #318
@aig031 Will do. but you could make multiple git branches.

[2018-06-06 11:05] aig031 commented on #318
Ah, maybe I can do that just a minute

[2018-06-06 11:21] #322 closed

[2018-06-07 00:22] wldn0202 opened #326 "Add a logo image on the other README files"
It seems like an image has been added on the top of README(English). I think it is good idea to add it to other languages as well!

[2018-06-07 06:40] #17 closed

[2018-06-07 06:41] #29 closed

[2018-06-07 10:09] goswami-rahul opened #328 "remove the coverall tests"
The Coverage tests by coverall create confusion among the contributors. I think this test give less information (I didn't find its results helpful any of the time, don't know if I was missing something) about the PR, and create more confusion among the contributors (most of the times they fail recently). I suggest we remove this test plugin? What do you think @keon @danghai ??

[2018-06-07 10:30] danghai commented on #328
@goswami-rahul the reason why it always is failed because I only put the coveralls in `tests` folder. It only report the coverall in `tests` folder. I make the new PR #323 ( coverall for both 2 folder `tests` and `algorithms`). It will increase if someone add more test case for these files that do not have test.

[2018-06-07 10:50] #328 closed

[2018-06-07 10:56] #326 closed

[2018-06-07 10:57] #162 closed

[2018-06-07 11:34] danghai opened #330 "Refactor PriorityQueue because insert method does not work for python3.4 and 3.6"

[2018-06-07 11:43] danghai opened #331 "Update tree.md file."

[2018-06-07 11:45] goswami-rahul commented on #330
I will do it later this week.

[2018-06-07 12:02] #331 closed

[2018-06-07 21:54] herinckc opened #337 "copy_random_pointer.py needs rewritten"
Path to file: /algorithms/linkedlist

At the moment, the copy_random_pointer.py file is entirely commented out. The comments indicate there is an intent to rewrite the file at some point; this issue report is simply intended to bring attention to this particular file in case it has been forgotten. Feel free to remove this issue if this is a low-priority task and/or someone is already working on it

[2018-06-10 17:55] #330 closed

[2018-06-10 20:45] #277 closed

[2018-06-11 09:39] goswami-rahul opened #350 "installing algorithms also installs tests"
while installing through `pip install algorithms`, the `tests/` module also gets installed. I don't know if this will be of any use to the end-users. I think we can exclude this from getting packaged.
Even if we want to package it with the install, the current api is
[code]
It should be inside the algorithms folder, to be explicit that these tests belong to algorithms, more like
[code]
What do you

[2018-06-11 09:54] danghai commented on #350
In my opinion, I think test is not api. So the user do not need to import test.

[2018-06-11 10:18] goswami-rahul commented on #350
Yeah, I guess we can remove `tests/*` from the MANIFEST.in then?

[2018-06-11 19:11] danghai commented on #350
@goswami-rahul I am not sure why I cannot import `tests`

[2018-06-11 19:22] danghai commented on #350
Yeah @goswami-rahul, removing `tests/*` from the MANIFEST.in is a solution.

[2018-06-11 20:35] keon commented on #350
thanks for spotting this problem.
and yeah it must be fixed.

[2018-06-12 14:21] #350 closed

[2018-06-17 01:10] danghai commented on #337
@herinckc It is great when you can help us rewrite `copy_random_pointer.py` . Thanks

[2018-06-17 04:20] arsgsg1 opened #357 "combination.py large number n, r case too slow to find a combination"
hi, when i test combination.py, I found specific case with input large n, r too slow to find combination.

combination(50, 10) <- 10272278170 // too slow

in my opinion, using memoization method, can problem solving (using dictionary)

Can i send PR you?

[2018-06-18 16:42] huseyindalbudak commented on #357
you can use factorial and combination function.
https://github.com/huseyindalbudak/mathpy/blob/master/combination.py
the code is so faster for combination(50, 10) than keon algorithms

[2018-06-19 09:04] #357 closed

[2018-06-27 18:50] goswami-rahul opened #364 "README links don't work in PyPI."
I just noticed that links in README are relative. They don't work in PyPI site repo page. (And the cool algorithms logo don't show up). Should we make them absolute links, or is there a better way?
Also, how do we update this current version to PyPI?
@danghai @keon What's our progress with Sphinx?

[2018-06-27 20:15] keon commented on #364
I've been busy recently, and haven't really got the time to work on it.
Don't worry about PyPI README, I think only a small fraction of users see the doc in PyPI.
It will be fixed as we move from Markdown to rst format.

[2018-06-28 08:48] goswami-rahul commented on #364
And about to reach 2000 forks!

[2018-06-28 17:22] danghai commented on #364
@goswami-rahul yeah I will loot at it when I have the chance

[2018-06-28 19:28] programatt commented on #256
@christianbender @SaadBenn I took a shot at it. I think it just needs to use an OrderedDict instead of a defaultdict so that the looping of the keys is deterministic. See PR #367

[2018-06-28 19:41] programatt commented on #256
@danghai Uh oh, looks like it didn't fix it. The build failed.

[2018-06-28 19:44] danghai commented on #256
@programatt Yeah it is fail in python 3.4 and 3.5. Could you re-check them?

[2018-06-28 19:48] programatt commented on #256
@danghai it's my fault. I was looking at strip_url_params1 not strip_url_params3. Looks like the implementation of `urllib.parse.urlencode` or urllib.parse.parse_qs` might have changed between python 3.4 and 3.6. I'll take a look.

[2018-06-28 20:03] programatt commented on #256
Ah, it appears to be the result of the new implementation of dictionaries in 3.6+ preserving key order by default. [Stackoverflow Question about Dictionary Key Order in 3.6+](https://stackoverflow.com/q/39980323). So the test is using a query string of `?a=1&b=2&a=1` and expecting `?a=1&b=2`. `?a=1&b=2` and `?b=2&a=1` are in fact the same query string from the perspective of any library reading an

[2018-06-29 02:17] jbeguna04 opened #369 "Logo/Icon"
Greetings, Im a graphics designer here on Github and I would like to ask for your permission to design for your logo/icon that you maybe used for your future plans in your project. I want to help open source projects by designing logos or banners for there project. Thank you for your time reading this

Best regards
-jbeguna04

[2018-07-02 08:50] goswami-rahul commented on #256
@danghai didn't the test pass with `OrderedDict`?

[2018-07-09 19:21] keon commented on #369
Of course! It would be awesome.
Please contact me or any other maintainers if you have any questions.
my email address is kwk236@gmail.com

[2018-07-10 00:04] jbeguna04 commented on #369
Thank you for your response. Hoping to propose my designs when it is ready. I would be priviledged to work with you

[2018-07-10 00:06] EmmaMuhleman1 commented on #369
Please tell me what you are thinking in terms of cost, as I have created my own site and it is half way decent (and I can add to it, I am just too busy right now)…

www.emc2partners.com

Sent from Mail for Windows 10

From: Jibbie R. Eguna
Sent: Monday, July 9, 2018 5:05 PM
To: keon/algorithms
Cc: Subscribed
Subject: Re: [keon/algorithms] Logo/Icon (#369)

Thank you for your response. Hoping to pr

[2018-07-13 05:23] jbeguna04 commented on #369
![all](https://user-images.githubusercontent.com/35353768/42673816-ba71429a-869f-11e8-8e15-655d1e7887cd.png)

@keon , Greetings! Here are my designs about your project. What do you think?
Feel free to open some suggestions. Thank You!

[2018-07-15 05:10] keon commented on #369
I love it! I love the logo that is shaped like python. :)
If possible could we change the typography to something that is immediately readable?
This is because there are many international users.

[2018-07-15 07:06] jbeguna04 commented on #369
Sure ill be sending more type of typography to you.

[2018-07-15 07:30] jbeguna04 commented on #369
![image](https://user-images.githubusercontent.com/35353768/42731636-f2a39820-8843-11e8-972c-65d338ef4659.png)
Here are some types of typography

[2018-07-15 07:33] ankit167 commented on #369
+1 for the second one

- Ankit
On Sun, 15 Jul 2018 at 1:00 PM, Jibbie R. Eguna <notifications@github.com>
wrote:

[2018-07-16 02:36] keon commented on #369
I vote for number 2 and 4

[2018-07-16 03:01] jbeguna04 commented on #369
@keon , Do you have to add more about the logo? Or I can upload the files and create a pull request to be needed in the project? What do you think?

[2018-07-16 03:57] danghai commented on #369
+1

[2018-07-16 05:48] goswami-rahul commented on #369
+1 for 3rd and 2nd icon.

[2018-07-16 05:48] goswami-rahul commented on #369
pi

[2018-07-17 05:45] jbeguna04 commented on #369
@danghai , @goswami-rahul  Thank you!

[2018-07-17 13:08] keon commented on #369
no. 2 seems to be the winner!
Feel free to make PR :)
@jbeguna04

[2018-07-17 13:16] jbeguna04 commented on #369
thank you @keon, Ill be making it now

[2018-07-17 21:51] jbeguna04 commented on #369
o

[2018-07-17 21:53] jbeguna04 commented on #369
Already created sir @keon , Hope you can check on it :)
https://github.com/keon/algorithms/pull/376

[2018-07-18 18:12] christianbender commented on #258
@danghai I will work on this. I will write tests for ```queues```.

[2018-07-18 18:17] christianbender opened #377 "Tests : undesirable output on running tests"
If I run the tests with ```python3 -m unittest discover tests``` I get this:

![screenshot](https://user-images.githubusercontent.com/23243382/42899836-87832bce-8ac7-11e8-844b-9d96958a29ce.png)

I think it is an debug-print.
Can someone repeat it? My local repo is up-to-date.

[2018-07-18 19:22] danghai commented on #377
@christianbender I fixed it!

[2018-07-20 22:11] #369 closed

[2018-07-24 20:41] keon opened #380 "move logo designs inside docs"
I should've seen it but we gotta move the logo folder inside docs. :)
I'll do this tonight.

[2018-07-24 21:02] christianbender commented on #377
@danghai super!

[2018-07-24 21:02] #377 closed

[2018-07-27 05:09] keon opened #383 "protocol for multiple solutions"
There could be many ways of solving a problem.
We need to come up with a unified naming protocol as we've become a library and people expect consistency in api.

I propose that we name multiple solutions as below:

* The most efficient approach should be the main implementation and take `v1` so the main implementation will be `algo_name_v1` and a wrapper named `algo_name` will wrap `algo_name_v1`.

[2018-07-27 05:09] #380 closed

[2018-07-27 08:59] goswami-rahul commented on #383
(+1) for the refactor.

[2018-07-28 08:34] danghai commented on #383
I like this idea

[2018-08-09 12:16] bmcculley opened #388 "longest non-repeat v1 issue"
I'm wondering if `longest_non_repeat_v1` should be changed or taken off as it returns incorrect results in some cases.

**A couple of examples:**

"dvdf" should return 3 but v1 returns 2.

"asjrgapa" should return 6 but v1 returns 5

[2018-08-09 16:10] danghai commented on #388
Hi @bmcculley could you point out the python file?

[2018-08-09 16:12] bmcculley commented on #388
Hi @danghai, this is [the file](https://github.com/keon/algorithms/blob/master/algorithms/arrays/longest_non_repeat.py)

[2018-08-09 18:01] danghai commented on #388
@bmcculley right. The algorithm is wrong.  Could you fix it (even `O(n^2)`)?

[2018-08-12 00:28] danghai commented on #388
@bmcculley fix it. Thanks

[2018-08-12 00:36] #388 closed

[2018-08-15 07:49] feygon commented on #12
Since this issue is still open, I'd like to take this up and make another PEP8 style review.
(also noting [#242](https://github.com/keon/algorithms/pull/242)

[2018-09-01 07:12] InnoFang opened #395 "bug report for radix sort"
**Description**

if the test case for [`radix_sort.py`](https://github.com/keon/algorithms/blob/master/algorithms/sort/radix_sort.py) is `[104, 203, 308, 401]`, the result would be `[401, 203, 104, 308]`

It's wrong!

The reason is that if the `digit_number` is always `0` in one loop, it will exit the loop. In other words, If the same digit of all numbers is 0, then the result may be wrong. The si

[2018-09-04 13:19] InnoFang commented on #395
This issue had been solved, see #397

[2018-09-04 13:19] #395 closed

[2018-09-04 16:57] ambuj-gahoi opened #400 "The 0-1 Knapsack Problem"
I would like to add the 0-1 Knapsack problem, a very famous Dynamic Programming algorithm.

[2018-09-04 19:48] anoubhav opened #401 "Issue in the code of algorithms/algorithms/stack/is_sorted.py"
Some changes need to be made in the code.
1)The first 2 return statements have to be changed to break statements. This ensures that the code after the first for loop is executed. Previously it would never execute the latter part.
2)The second append statement should add elements to stack and not storage_stack. Try the test case [3,4,7,8,5,6]. The program returns True. It should return False.

[cod

[2018-09-04 20:44] keon commented on #400
please!

[2018-09-04 20:51] danghai commented on #401
@anoubhav yeah thank you! Could you create a new PR to fix this error? Thank you

[2018-09-06 19:05] sshuklaji962 opened #404 "SMS Dictionary"
In the pre-smartphone era, most mobile phones with numeric keypads had a private dictionary of words to allow users to type messages quicker. On a typical phone of this type, each number key is assigned a subset of the alphabet {a,b,…,z}: 2 is assigned the subset {a,b,c}, 3 is assigned {d,e,f}, 4 is assigned {g,h,i}, 5 is assigned {j,k,l}, 6 is assigned {m,n,o}, 7 is assigned {p,q,r,s}, 8 is assig

[2018-09-07 13:07] #401 closed

[2018-09-07 14:26] Aluriak commented on #404
Is this code answering the question ?

[code]

Note that this code is auto-generating its own data (with regular random, so results are not interesting). It's an aggressive implementation, but it takes about 0.15s to found the most commons with 100000 words, and 16s for a hundred times more.

About memory, we do not store the words, just counting the appearance of canonical representation. We coul

[2018-09-07 18:31] sshuklaji962 commented on #404
No test cases is passing...

On Fri, Sep 7, 2018, 7:57 PM Lucas Bourneuf <notifications@github.com>
wrote:

[2018-09-21 23:34] vinceajcs opened #406 "Edit Distance DP Problem"
Hi!

This is my first time contributing to this project. I would like to add the edit distance, a problem that can be solved with Dynamic Programming, if that is okay.

[2018-09-27 07:54] oerd opened #410 "Some links in main `Readme.md` are broken"
Links of algorithms like `last_occurrence`, `first_occurrence`, etc are broken.

[2018-09-27 08:49] #410 closed

[2018-10-07 19:53] Vishu26 commented on #400
Added Fractional knapsack as well. #424

[2018-10-14 16:35] krimvp opened #431 "Test fail. arrays/plus_one makes tests fail"
The function plus_one_v3() tries to access the index as if it was an actual index (number) but since it's being used in a for loop with an enumerate, it is actually a tuple of (idx,value) for all the items in the list

I discovered this while making a PR for another issue since it would reject my build.

Already making a PR changing it so the tests run again.

[2018-10-16 23:29] #431 closed

[2018-10-16 23:31] keon commented on #431
@krimvp Thanks for the quick fix :)

[2018-10-25 23:29] #406 closed

[2018-10-26 09:18] keon commented on #406
thanks for your contribution!

[2018-11-13 12:06] lifelifelife opened #456 "the return temp not the longest substring"
https://github.com/keon/algorithms/blob/81d0e4d81ec55a0c9f5d5f9f7dcefe27e4f9db53/algorithms/arrays/longest_non_repeat.py#L62
I think that return value is the longest value，should write this line
max_tmp = tmp[::] if max_len == len(tmp)else max_tmp

[2018-11-13 12:35] lifelifelife opened #457 "the return value should be the last value"
https://github.com/keon/algorithms/blob/81d0e4d81ec55a0c9f5d5f9f7dcefe27e4f9db53/algorithms/arrays/longest_non_repeat.py#L60

use string "abccdefeab"，the last value is ‘’feab‘’,  but the return value is ‘’cdef‘’，the modify  in bellow:

            i = tmp.index(v)
            tmp = tmp[i+1:]

[2018-12-11 19:28] God-Hand opened #462 "No terminate state for evaluate function"
![bug](https://user-images.githubusercontent.com/31720563/49824720-b94d8b00-fda8-11e8-990e-6b0c8a645a6e.png)

[2018-12-13 17:10] TurdStudioGames opened #465 "Improvement for 'is_palindrone'"
def is_palindrone(phrase): return phrase == phrase[::-1]

[2018-12-19 02:13] pavelnyaga commented on #465
Have you fixed it? Or I can do it?

[2018-12-19 02:14] pavelnyaga commented on #465
@TurdStudioGames you can assign it to me

[2018-12-19 09:55] semal259 commented on #462
I can take this one.

[2018-12-20 00:45] semal259 commented on #462
#466

[2018-12-31 07:46] God-Hand commented on #462
acutally, i had pulled a request for the same. but, now you solved it. so thanks for it.

[2019-01-11 17:24] HarsheetKakar opened #468 "Matrix multiplication"
**Why?**
very important function used almost in every graphics application
**How?**
there is a simple O(n^3) solution (with possibility of Strassen's multiplication)
**Would I work on this issue**
yes

[2019-01-17 14:26] Notheryne opened #469 "pip installing problem"
I found a problem with installing algorithms via pip - it doesn't install all the algorithms. The problem is found on Windows 7 64bit proffesional and i can't really test this on any other computer, but I was just trying it around and got this:

So i went into cmd and located the directory, and there are a few algorithms missing:
![git](https://user-images.githubusercontent.com/43877088/51324795-e

[2019-01-17 17:54] bsushmith commented on #469
I think its just that the pypi repo is not up to date and needs to be updated.

[2019-01-17 17:59] goswami-rahul commented on #469
I think @bsushmith is right. I ping @keon to update the repo in pypi.

[2019-01-17 18:03] goswami-rahul commented on #468
@HarsheetKakar you still working on this?

[2019-01-17 18:17] HarsheetKakar commented on #468
Oh I forgot about that, you are welcome to take it if you want to

[2019-01-17 19:45] Notheryne commented on #469
Thought so, but couldn't resolve it myself and I think this library is too nice to be outdated :)

[2019-01-18 20:54] keon commented on #469
@Notheryne @goswami-rahul @bsushmith thanks so much for flagging this.
I'll update PyPI by EOD.

[2019-01-20 07:36] EldanGS opened #472 "bfs/maze_search.py"
https://github.com/keon/algorithms/blob/master/algorithms/bfs/maze_search.py

If you want to write in python, please keep Pythonic style.
In addition to that, please recalculate time and space complexity.

[code]

[2019-01-20 10:57] goswami-rahul commented on #472
Thanks for pointing out! You may have noticed there still are some files which need refactoring.
Please commit this refactor by opening a PR, I'll be happy to merge :)
If you wish, you can open PRs to refactor other files too.

[2019-01-20 11:34] EldanGS commented on #472
Hi @goswami-rahul

Sure, I will try to each week refactoring some algorithms if I will be available for coding.

Thanks for sharing good material, it will be helpful.

best regards,
[Eldan Abdrashim](http://linkedin.com/in/eldan-abdrashim-87aa27135/)

[2019-02-04 22:19] arnavb opened #479 "Consider using black as an automatic code formatter"
[Black](https://github.com/ambv/black) is a Python code-formatter that advertises itself as being "uncompromising". Containing few configuration options, it deals with the hassle of different developers having different styles of their code.

I recommend asking new contributors to run black on their source code so that a consistent style is maintained throughout the codebase. To enforce this, a jo

[2019-02-15 09:41] adMenon opened #480 "Add Bitmasking in Dp"
Bitmasking and DP is a method used for solving questions like assign unique caps among persons, etc.
Can I add this algorithm?

[2019-03-26 15:41] willx75 opened #488 "Add a new Algorithm"
Hi i'd like to contribute to your project, by adding a new algorithm, for examples the Tower of Hanoi.
Best

[2019-03-26 19:52] keon commented on #488
sure! we always welcome contributors

[2019-03-27 08:51] willx75 commented on #488
Thanks, I appreciate it.
Best

[2019-03-29 13:36] sdelquin opened #492 "Forgiven debug print"
https://github.com/keon/algorithms/blob/a883c959c5c0d364c136fbf54cf54db89054ec33/algorithms/graph/find_path.py#L24

[2019-04-07 19:13] chaogedebishi opened #494 "Add machine learning algorithms(only one now)"
As a beginner in machine learning, I wonder if some more algorithms can be added to machine learning.  If possible, can there be some simulation for algorithms?

[2019-04-07 23:10] youdymoo commented on #494
My teammate and I are really interested in adding this feature. It’s weird that nearest neighbor is the only method of machine learning so far.

We will start with some basic machine learning algorithms as peceptron and linear regression, and we definitely will add unit tests as well.

Any idea on other algorithms is welcome!!

[2019-04-08 04:20] youdymoo commented on #468
I'm looking into this feature now.

[2019-04-08 04:23] HarsheetKakar commented on #468
Just add unittest and pr.is.good to.go

On Mon 8 Apr, 2019, 9:50 AM Ray Cao, <notifications@github.com> wrote:

[2019-04-18 20:15] youdymoo commented on #468
I don't think the former commit on this issue is a real implementation of Strassen's algorithm. It was an O(N^N) brute force algorithm. I'm trying to optimize it.

[2019-04-19 03:02] HarsheetKakar commented on #468
Do it in as a different feature because stressen comes with its own set of issues

[2019-04-29 00:56] #468 closed

[2019-05-02 05:32] keon commented on #494
sure, why not!

[2019-05-31 06:18] t2krew opened #504 "why Time complexity is O(n^2)"
https://github.com/keon/algorithms/blob/master/algorithms/arrays/delete_nth.py#L12

[2019-06-05 08:11] snguyenthanh commented on #504
Because the [list.count](https://github.com/keon/algorithms/blob/master/algorithms/arrays/delete_nth.py#L16) method has to check every entry in the list, the runtime is going to be O(n).

[2019-06-10 04:48] t2krew commented on #504
@snguyenthanh thanks

[2019-06-10 04:48] #504 closed

[2019-06-11 07:55] vague369 opened #505 "Complexity of delete_nth"
How is the complexity of 'delete_nth' function O(n) if in python, the worst case for a dict lookup is O(n)?
https://wiki.python.org/moin/TimeComplexity

[2019-06-15 18:13] phamhm opened #507 "flatten.py fails on string and iterables checking deprecation"
Calling flatten on a string will result in max recursion depth exception.

Also, checking for iterable abc will be deprecated and this method ignores iterables that only implement __getitem__() . Pydoc recommends using iter(object) try-catch for TypeError.

`
def flatten(input_arr, output_arr=None):
    if not input_arr:
        return output_arr

    if output_arr is None:
        output_arr = []

[2019-06-17 12:24] Darkstar108 opened #508 "Add algorithms"
Hey,

I have already written many c++ algorithms for a Data Structures & Algorithms course. I was wondering whether I can rewrite them in python and add them here (except for the ones that are already here).

[2019-06-18 17:24] keon commented on #508
sure! sounds great

[2019-07-17 15:55] thevirtuoso1973 commented on #465
@TurdStudioGames It already mentions that you could use that method, see line 61:
https://github.com/keon/algorithms/blob/68c2661ab7d3c8567a97263170f8abddc2a56da4/algorithms/strings/is_palindrome.py#L61

[2019-08-09 15:28] SHAKILEASH commented on #507
@phamhm , im fixing it

[2019-08-23 17:51] harshmangal1108 commented on #508
yup! hurry up and start wrting

[2019-08-26 04:31] RinatValiullov opened #521 "No name 'Iterable' in module 'collections'"
https://github.com/keon/algorithms/blob/6f1fc9fadd76cb194183e98cc03587c30d93eb8e/algorithms/arrays/flatten.py#L6

My pylint can't find this module in `collections`:

`No name 'Iterable' in module 'collections'`

Got this warning:

![pycollect](https://user-images.githubusercontent.com/9755333/63664981-af5aa380-c7e2-11e9-9280-4f6dec7427b4.PNG)

[2019-09-03 04:15] rexroy11 commented on #508
can i also start writing , i m new from [camvela](https://camvela.com)

[2019-09-11 18:07] shubham1560 commented on #521
it's just telling you that in future updates, this import would stop working, currently in your situation, the program must have worked fine

[2019-09-12 03:40] RinatValiullov commented on #521
Is it mean that program is not cross-platform/ And not everyone could learn from your example? (Can you provide some comments or warning in the source for other developers like me?)

[2019-09-22 12:51] deli365 opened #523 "Add Run-Length Encoding algorithm."
Hello,
I would like to add some compression algorithms.
To begin, I was thinking of adding the compression and decompression of RLE algorithm.

Should I proceed?

[2019-09-23 10:06] deli365 commented on #523
Closing this issue as I contacted with the collaborators.

In general, their message is to feel free to contribute to this project.

[2019-09-23 10:06] #523 closed

[2019-09-29 05:24] williamfzc opened #526 "any plan about adding explanation in code?"
nice project and helps me a lot :)

I found that this repo only offered the questions and their solutions (code). Without some extra explanation, it's not quite easy to understand the algorithms for the beginner.

any suggestions or plan?

[2019-09-30 16:16] goswami-rahul commented on #526
We try to add explanations whenever possible. However many algorithms still lack explanations. Contributors are encouraged to add proper explanations to any part that feels to lack them :)

[2019-09-30 16:19] goswami-rahul commented on #521
Thanks for pointing out. We need to import `Iterable` from `collections.abc` instead, to provide support for Python 3.8+.

[2019-10-01 06:02] williamfzc commented on #526
OK, I am trying to too. Still a long way to go~

other questions:

- any format of explanations (more readable and clear) ?
- any priority of parts (which part is more useful (for most people?) ) ? We can finish these parts firstly.

[2019-10-01 06:03] goswami-rahul commented on #521
Keeping this issue open until changes have been made.

[2019-10-16 06:20] uniyalnitin opened #559 "Add Dijkastra's Algorithm"
Dijkastra's algorithm python implementation is missing

[2019-10-16 23:56] #472 closed

[2019-10-16 23:56] #492 closed

[2019-10-16 23:57] #521 closed

[2019-10-16 23:58] #479 closed

[2019-10-17 23:14] #559 closed

[2019-10-18 10:38] uniyalnitin opened #565 "Please add methods in dijkstra's algorithm for finding minimum using priority queue (heap module etc.))"

[2019-10-20 01:14] Sean16SYSU opened #567 "“Machine-learning” not found in the folder but showed in the README"
I found this problem when I cliked "machine-learning" in README.md. To be honest, I am glad to work on "Machine-learning" algorithms implementation, but I am not sure whether the repo owner will accept it.
Anyway, I will lauch anouther pull request to delete "Machine-learning" in the end of the README.md

[2019-10-20 03:05] matheustguimaraes opened #569 "Add histogram and contrast method"
Add histogram and contrast method, as digital image processing algorithms.

[2019-10-20 12:16] GaryLai91 commented on #505
I think because the hash table method just loops through the keys without deleting anything from the hash table.

[2019-10-27 06:58] keon opened #580 "More Maintainers Needed"
Currently, maintainers don't have much bandwidth to review PRs in timely manner.
I noticed that there's a long backlog of PRs that need to be reviewed and revised.

I'd like to add a several more people who'd like to contribute to this project more directly by being maintainers.
There's no expectation of the maintainers in terms of contribution - you contribute as much as you like or as little as

[2019-11-10 09:16] timgates42 opened #590 "Small typo in algorithms/search/jump_search.py"
Should be target rather than taget.

[2019-11-11 11:06] #590 closed

[2019-11-20 06:13] uniyalnitin opened #595 "Add Maximum Flow Ford Fulkerson Algorithm"
Please add the python implementation for For Fulkerson Algorithm, using DFS and BFS both approach

[2019-11-21 19:20] gabrielbaldao opened #596 "FP-Growth algorithm"
Can I try add FP-Growth algorithm at this repo?

[2019-11-24 07:16] lcw921 commented on #580
I'd like to participate in this project with my team.
I sent a mail to you.

[2019-12-02 15:40] DgrinderHZ commented on #595
Ok, I will join the contributors and put it on my to-do list!

[2019-12-03 13:41] lcw921 commented on #595
I have implemented Fulkerson Algorithm in Python using BFS.
In the near future, i will be implementing Fulkerson Algorithm using DFS.
If this is what you want, please let me know.

[ADD] Create maximum_flow_bfs.py # 603

[2019-12-04 15:04] lcw921 commented on #595
I implemented the Ford Fulkerson Algorithm algorithm using both bfs and dfs. These are basically the same, but the only difference is whether they use queues or stacks as data structures to find the path.
If you need to implement a function rather than a data structure, please let me know.

[2019-12-05 06:26] D-Sinus opened #604 "Add Find Order Algorithm"
To specify, order means actually multiplicative order.
I'll attach explanation link from Wikipedia.
(https://en.wikipedia.org/wiki/Multiplicative_order)

It will be used for find primitive root, and
implementation of Diffie-Hellman key exchange algorithm.

[2019-12-05 07:37] D-Sinus opened #607 "Add Find Primitive Root Algorithm"
To specify, primitive root means actually primitive root of modulo n.
I'll attach explanation link from Wikipedia.
(https://en.wikipedia.org/wiki/Primitive_root_modulo_n)

It will be used for implementation of Diffie-Hellman key exchange algorithm.

[2019-12-09 09:58] D-Sinus opened #614 "Add Diffie-Hellman Key Exchange"
Diffie-Hellman key exchange is the method that used to exchange secret key
shared with two entities that not knowing with each other
through non-secure communication network.
I'll attach explanation link from Wikipedia.
(https://en.wikipedia.org/wiki/Diffie%E2%80%93Hellman_key_exchange)

It requires capability of checking [ prime / euler totient function / order  / primitive root ]

[2019-12-11 05:19] #595 closed

[2019-12-23 09:31] #604 closed

[2019-12-23 09:31] #607 closed

[2019-12-23 09:32] #614 closed

[2020-01-08 13:06] MadyDixit opened #624 "Hey!! Can we Push Some Stuff Related to Binary Tree."
I will help to find the Number of Unique Binary Tree from the Given Number of Node!! **Its not BST it will find BT**

Hope It Sound Interesting!!! 👍

[2020-01-09 10:48] keon commented on #624
sounds good :)
Please make PR

[2020-01-21 17:01] kostogls opened #629 "Hey! Could i add some algorithms in maths file?"

[2020-01-27 06:20] keon commented on #629
of course :)

[2020-01-27 06:20] #629 closed

[2020-02-04 19:09] siderism opened #630 "Multiple Matrix Algorithms"
I would like to add some algorithms about matrices. Specifically, a function that finds the sum of all k x k sub-squares in a matrix, a function that finds the rank of a matrix, and a class with 4 functions about matrix characteristics.

[2020-02-08 19:44] siderism commented on #630
Implementations on:
#633
#632
#631

[2020-02-21 13:05] emmariaolsson commented on #565
My team will work on this issue this upcoming week.

[2020-02-22 06:25] #580 closed

[2020-02-27 17:18] ericklarac commented on #457
_cdef_ and _feab_ are valid answers, the algorithm returns the max length of the longest substring, in both cases the return value is 4.

[2020-02-27 17:18] #457 closed

[2020-02-27 17:19] #456 closed

[2020-02-27 17:34] ericklarac commented on #505
By definition. the _amortized analysis_ considers both the costly and less costly operations together over the whole series of operations of the algorithm. Having said that, being strict about all the resources required for each operation of an algorithm, the operation can be considered as O(n) for the _amortized worst case_.

But if you assume the dictionary keys are drawn from a normal distribut

[2020-02-27 17:34] #505 closed

[2020-03-02 10:21] TheSuperNoob opened #640 "Travis CI black --check"
Is there a reason why in [travis CI config](https://github.com/keon/algorithms/blob/master/.travis.yml) the command `black --check . || true` is run? I don't see the point in checking if files needs to be reformatted if it's just going to be ignored anyways.

Currently running `black --line-length 127 --check .` -> `399 files would be reformatted, 74 files would be left unchanged.`

In addition ru

[2020-03-03 18:52] hardik-dadhich opened #641 "Add Count Number of Connected Components in Graph"
Hi, Thanks for this Awesome Repo
Description :
Can we  Add Algorithm to find `Number of Connected components in Graph` in Algorithm/graph section?
please Let me know if there is a possibility of this.

[2020-03-13 04:48] ericklarac commented on #641
@hardik-dadhich nice contribution. Feel free to add more algorithms on this repo.

[2020-03-13 04:49] hardik-dadhich commented on #641
@ericklarac, Sure!

[2020-03-13 04:50] #641 closed

[2020-03-19 07:46] lumit123 opened #645 "binary_gap_improved(1)=0 is it right?"
https://github.com/keon/algorithms/blob/6d1515d94f37831bf0ac3a0752238e0bcc213f24/algorithms/bit/binary_gap.py#L48

` ans = 1 `
 ` last = index `

[2020-04-09 05:34] basanneh opened #648 "delete_nth.py Time Complexity"
Is the time complexity of the naive method also linear time instead of quadratic ?

[2020-04-10 00:12] ericklarac commented on #648
Suppose the input array is a sequence from 1 to n without duplicates, and the value for ```n``` is 2.

Since each value appears only once, when the for is processing the last value of the input the ```ans.count(num)``` will compare n-1 times, this yields the n^2

[2020-04-13 14:01] ArvindAROO opened #649 "ROMAN NUMBERS ARE NOT ACCURATE"
According to roman numbering convention 999 is IM but here its gives other answer

[2020-04-14 20:35] hardik-dadhich opened #651 "Want to add Square Root Decomposition Method to Algo section"
Hi @ericklarac,
Can we add Mo's Algo and Square root Decomposition method to the Repo?
Let me know if we have the possibility?

[2020-04-15 16:41] ericklarac commented on #651
@hardik-dadhich feel free to add it.

[2020-04-23 13:56] codePerfectPlus commented on #649
Roman Numerals: 999 = CMXCIX.

[2020-04-23 20:45] #649 closed

[2020-05-01 08:31] ramboisyuanbo commented on #469
Hi Keon, as for today, pip install still does NOT have all the sub-directories listed here. e.g. the tree directory.
By the way, any chance to add a parsing algorithm for tree? E.g., input some pre-order token list, output a tree‘s root Node ? Maybe that's not clean to include in your project.

[2020-05-07 22:21] bea0113 opened #653 "delete_fixup() in Red-Black Tree looks incorrect"
Hi!
As part of a university project, we have to do some changes and add more CI tools to this project in a forked repo.
The Sonarcloud check came back with an issue, that the while loop in this method only runs once because of the breaks.
I did some research and found a very similar implementation [here](https://www.codesdope.com/course/data-structures-red-black-trees-deletion/). According to this

[2020-05-31 09:15] psychozonestartshere commented on #315
Unable to import quick_sort from algorithms. Its showing ImportError:
 from algorithms import quicksort
ImportError: cannot import name 'quicksort' from 'algorithms' (C:\Users\encre\AppData\Local\Programs\Python\Python38-32\lib\site-packages\algorithms\__init__.py)
Even on the Documentation page of the Algorithms module, the link reference to the List of Implementations is not accessible.

[2020-06-20 14:32] Andrew-Chen-Wang commented on #640
Seems like the PR #551 put it in before_script simply because "It will not make every build (from this PR)" fail. Sometimes, for some repos, good style may make the meaning behind the code illegible, which may be the case here... However, I just strolled into this repo, so I can't give concreteness to that previous statement.

Addressing the side note, the Tox env is already doing the testing with

[2020-08-09 05:49] CentralLT commented on #462
@God-Hand can we close this issue. It seems it is resolved in #466

[2020-08-09 05:52] CentralLT commented on #565
@uniyalnitin can we close this issue? is it resolved in #639?

[2020-08-10 06:19] CentralLT commented on #254
@danghai is the unit test still a pressing matter? if not we should close this issue and reopen it if needed.

[2020-08-10 06:36] CentralLT commented on #494
Could use the category supervised and unsupervised ml algorithms to order ml algorithms. I guess decision tree and random forest are also some of the most used basic ml algorithms. Also worth including them.

[2020-08-12 06:43] CentralLT commented on #120
I think in 2020 there is no need to discuss Python 2 vs 3 anymore. So we should close this issue.

[2020-08-16 23:11] IhebHaboubi opened #689 "deprecated link"
Hi.
I think the link "matrix_rotation.txt" in the list of implementations should be removed / replaced, since it leads to a "404 not found" page

[2020-08-18 04:12] namangupta-98 opened #690 "Path to Learn"
Please could you please tell me from where I can learn complete data structures and algorithms to implement all these programs on my own.

[2020-08-18 04:23] ericklarac commented on #690
For data structures, I think you can start with the [free course](https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513) from udacity, and some lessons from [leetcode](https://leetcode.com/explore/learn).

[2020-08-18 04:31] namangupta-98 commented on #690
and for algorithms.

[2020-08-18 04:40] ericklarac commented on #690
The [MIT algorithms open course](https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/) and [this book](http://jeffe.cs.illinois.edu/teaching/algorithms/) helped me

[2020-08-18 04:40] namangupta-98 commented on #690
ok, Thank You.

[2020-08-18 04:41] #690 closed

[2020-08-18 05:20] Neha8942 commented on #690
Buy a book data structure and algorithms by narasimha karumanchi this book is definately help you to learn data algorithms and it's easy to learn and understand.

[2020-08-18 05:25] CentralLT commented on #488
I guess we can close this issue...

[2020-08-18 06:58] namangupta-98 commented on #690
ok, thank you

[2020-08-18 10:22] Neha8942 commented on #690
🥰🥰🥰

[2020-08-25 17:40] tanujdhiman commented on #508
I have get started with Data Structure and Algorithms by this repo.
Can you update this repo with all data structures ?

[2020-09-26 05:48] stormvirux opened #696 "Outdated package in PyPI"
The package in PyPI (version 0.1.3) is currently outdated. It does not have the tree and compression algorithms. Are there any plans to update the package as in repo?

[2020-09-27 06:57] Vrindagupta6828 commented on #624
I can add how to delete a node from BST

[2020-10-02 13:19] srivastavaayu opened #712 "Maximize expression | Dynamic Programming"
Add an algorithm to maximize an expression by computing subexpressions.
Files that would change after the PR: Added file in /algorithms/dp/maximize_expression.py

[2020-10-02 13:19] srivastavaayu commented on #712
I would like to work on this issue.

[2020-10-02 14:58] hardik-dadhich opened #713 "depricated link of count connected components"
issue description 👍
I found the link seems misspelt in Readme.md so its showing deprecated link for count_conneted_number_of_component in the graph folder
Let me fix it

[2020-10-02 15:13] #713 closed

[2020-10-04 14:50] goswami-rahul commented on #696
Thanks! Updated in 476fb94886a109a030a844e8fceead479f73470a. Also excluded `tests/` from the distribution, which was not completely fixed in #350 .

[2020-10-04 14:53] #696 closed

[2020-10-04 15:11] goswami-rahul commented on #689
Fixed in 476fb94886a109a030a844e8fceead479f73470a.

[2020-10-04 15:11] #689 closed

[2020-10-09 18:17] #653 closed

[2020-10-11 05:19] rajapuranam opened #723 "Add Minimax algorithm in backtrack section"
Hi @ericklarac, Can we add Minimax algorithm in algorithms/backtrack section?
If there is any possibility, I will send a pull request.

[2020-10-11 14:00] hacker-1 opened #725 "Add string matching Z algorithm"

[2020-10-11 14:01] ericklarac commented on #723
Every algorithm contribution is welcome 😄 .

[2020-10-17 15:48] ji-sang-geun opened #727 "Can I comment on the algorithm part and translate the readme file into Korean...?"
Detailed Description
I want to comment on the code to make it easier for others to study and more readable.

Context
If you translate the Readme, other Koreans can participate in code contributions and error detection. Also, by commenting, it's easy to see at a glance what those lines do.

[2020-10-28 04:50] prathapnsvr opened #732 "Adding a linear regression model to ml section and Read me should be updated as ML is not mentioned."
I would like to add a linear regression model to the ML folder which also includes Gradient Descent to train the model. Is that ok? and readme should be updated as it doesn't include the ml section in it but a section is available is  algorithms folder.

[2020-10-31 06:32] ShimoniSinha2019H1030019G opened #734 "Adding an algorithm to construct a full binary tree from preorder and postorder traversal of the tree"
I would like to add a code that constructs a full binary tree from preorder and postorder traversal of the tree and then prints the tree as inorder traversal. PR  #735

[2020-11-02 03:36] #734 closed

[2020-11-04 04:14] prathapnsvr commented on #732
made a pull request #737 . Please verify and merge.

[2020-11-04 14:04] arihantjain124 commented on #49
Hey, @ankit167 is this issue still relevant I would like to work on this I am just starting out to work on open source projects. Could you guide me?
Thanks in advance

[2020-11-09 06:00] AminSarafraz commented on #120
I came here from the python3 links on the contributing.md file, expecting to find a list of files that need to be converted to python 3 but I don't see a list. I assume all the code is now converted to python 3. Please confirm. Thanks.

[2020-11-26 23:07] jackdariipper opened #742 "uu"

[2020-11-26 23:08] #742 closed

[2020-11-27 17:30] apoorvyadav1111 commented on #732
I would like to know what dependencies can be utilized to add ML algorithms. Can we use numpy arrays or do we need to go with for loops?

[2020-12-07 07:10] aamodpant15 opened #745 "Add longest common subsequence"
Add in a Longest Common Subsequence problem for two strings.

[2020-12-07 08:09] aamodpant15 opened #746 "Add Longest Palindrome Subsequence"
Add [LPS](https://www.geeksforgeeks.org/longest-palindromic-subsequence-dp-12/).

[2020-12-17 21:05] Huge commented on #364
Is it the same problem as https://pypi.org/project/algorithms/algorithms/search/first_occurrence.py being 404, right?

[2021-01-14 17:16] atarax665 opened #749 "Add Ternary Search Algorithm"
## Ternary Search

Its a divide and conquer based searching algorithm which is very similar to binary search. Here the array/list is divided into three parts and is determined that which part has the element to be searched. Its time complexity is log(n base 3). I found this algorithm to be missing from this repository.

[2021-01-14 17:19] atarax665 opened #750 "Add ternary Search Algorithm"
## Ternary Search

Its a divide and conquer based searching algorithm which is quite similar to binary search but has a better time complexity of log(n base 3) because compared to binary search here the array is divided in 3 parts.
I found this algorithm to be missing from this well structured python algorithm repository.

[2021-01-20 19:46] #750 closed

[2021-01-24 10:31] #49 closed

[2021-02-22 02:46] fenzwu opened #755 "Add Number of Connected Components in an Undirected Graph"
Adding number of connected components in an undirected graph, because there's only one union find problem.

[2021-02-24 15:01] chicken-biryani opened #756 "Panagram, Strings"
A pangram is a string that contains every letter of the alphabet.
Example: "The quick brown fox jumps over the lazy dog"
The string contains all letters in the English alphabet, so return pangram.

[2021-02-24 15:02] chicken-biryani commented on #756
I would like to work on this issue

[2021-03-02 14:33] mans-andersson opened #757 "Add chinese remainder theorem algorithm"
[Wikipedia link](https://en.wikipedia.org/wiki/Chinese_remainder_theorem)
This is a part of a school assignment #508

[2021-03-02 15:07] thestar19 opened #758 "Improve testing"
This is a part of a school assignment #508

[2021-03-03 10:43] jenniferlindberg commented on #746
Will primarily handle this as a part of a school assignment.

[2021-03-04 17:44] Cawibo opened #761 "pylint score is too low"
The pylint score for this project is terribly low at 6.57. Many of the issues are non-issues for a project such as this, eg. broken naming conventions because of typical algorithm variable naming. However, there are still a ton of issues that should be dealt with, including but not limited to trailing whitespace, missing docstrings, dead code (after return), uncaught strings, and out-dated iterati

[2021-03-08 09:43] ejoonko opened #766 "fix test_simplify_path() and test_full_path() so that both tests pass"

[2021-03-08 10:10] ejoonko commented on #766
The tests do not pass when tested in Windows. Configure so that the test passes for both Windows and other OS.

[2021-03-08 13:08] ntomsic opened #767 "Add algorithm that calculates the least amount of perfect squares needed to sum an integer"
Given an integer we want to calculate the least amount of perfect squares that are needed to sum that number,
for example 10 can be expressed as 3^2+1^2 giving us a an answer of 2.

[2021-03-08 13:47] Cawibo opened #768 "Add algorithm for calculating the shortest path for planting trees left along a road at equal distances from eachother using dp."

[2021-03-10 10:24] #756 closed

[2021-03-10 10:26] keon commented on #761
sounds good!
I wanted to clean the repo up so bad, but didn't have time :(.
Would be awesome if we could get contribution.

[2021-03-10 10:29] keon opened #772 "maintainer needed"
We have a long PR backlog that needs to be taken care of, but most of the existing maintainers/contributors don't seem have the bandwidth at the moment.
We need a new active maintainer/successor who will take care of this repo.

Please reach out to me at kwk236@gmail.com
if you are interested in becoming a contributor.

Thanks,
Keon

[2021-03-19 15:50] pradeeptrain9 commented on #767
can i contribute to this issue? is accepting new contributers?

[2021-03-19 15:55] pradeeptrain9 commented on #746
can i contribute here?

[2021-03-23 10:26] #768 closed

[2021-06-06 22:27] #10 closed

[2021-06-26 05:34] nitish771 commented on #761
Sure

Ready to contribute :)

[2021-06-26 05:37] nitish771 commented on #772
I'd love to. This is my mail gw93j08k8@relay.firefox.com

[2021-06-26 17:25] karangadani commented on #745
https://github.com/keon/algorithms/blob/master/algorithms/map/longest_common_subsequence.py

[2021-06-30 18:28] #746 closed

[2021-06-30 18:31] ericklarac opened #789 "Migrate Travis"
@keon I think the repo has to be migrated to [travis-ci.com]( travis-ci.com).

![image](https://user-images.githubusercontent.com/8422946/124012825-6f444900-d996-11eb-82ff-500ad61a1d20.png)

[2021-07-02 23:14] #745 closed

[2021-07-02 23:14] ericklarac commented on #761
@Cawibo are you still interested working on this?

[2021-08-10 03:30] kq58 opened #795 "algorithms.map.longest_palindromic_subsequence is incorrect."
algorithms.map.longest_palindromic_subsequence     is incorrect.

tests.test_map.TestLongestPalindromicSubsequence.test_longest_palindromic_subsequence_is_correct       is incorrect.

test.__init__.py      is incorrect.

[2021-08-10 03:39] ericklarac commented on #795
@kq58 you can contribute adding the correct algorithm.

[2021-08-10 03:43] kq58 commented on #795
this could be an implementation of lps. it can return the logestSubStr as well.you can remove the '#' in the last line to do it.

def longest_palindromic_subsequence(s):

        k = len(s)
        olist = [0] * k    # 申请长度为n的列表，并初始化
        nList = [0] * k    # 同上
        logestSubStr = ""
        logestLen = 0

        for j in range(0, k):
            for i in range(0, j + 1):
                i

[2021-08-10 03:46] kq58 commented on #795
i'm a beginner too. i'll try my best.

[2021-08-10 03:59] ericklarac commented on #795
Here's the right place to learn, check how to create PR on Github.

Then add your algorithm, and consider adding test cases.

[2021-08-10 04:27] kq58 commented on #795
@ericklarac  my internet sucks when viewing github or any other out_wall sites. i'll try to add some mline coments.

[2021-08-10 04:29] ericklarac commented on #795
@kq58 no worries, I will merge for now.

[2021-08-10 04:30] #795 closed

[2021-08-19 09:18] ritikverma2000 commented on #749
I would like to work on this.

[2021-08-20 09:17] ruijpbastos commented on #12
Have the issues been solved with the two merged PR?

[2021-09-12 05:15] avanishiitk opened #804 "search_range code needs to be fixed. it does no work for certain conditions"

[2021-09-13 05:10] KishoreTG commented on #804
Can I contribute to this Issue?

[2021-09-14 05:12] JollyReap opened #806 "Algorithms"

[2021-10-06 10:58] ruijpbastos commented on #488
Hi @willx75 , still interested in adding this new algorithm?

[2021-10-12 12:50] ruijpbastos commented on #723
Hi @rajapuranam , still interested in adding this algorithm? I'm free to review PRs.

[2021-10-19 16:38] 0012bgg opened #808 "Algorithm"

[2021-11-24 17:44] mamatkasym commented on #804
Sure

[2021-11-24 19:43] ericklarac commented on #804
@KishoreTG go ahead with the contribution, tag me on your PR to review it.

[2021-11-25 17:40] melemo2 opened #815 "Feature suggestion "A simple way to add test cases""
It seems that most of the functions does not have unit tests.
Of course, I know that it is very difficult to write a lot of test cases. So whenever you add an algorithm,
how about writing a test case in the comments inside the function and checking it when PR is added?

I think it would be convenient if we let us know the time complexity and test results every time we are PR automatically.

I want

[2021-11-28 05:22] hariharanragothaman commented on #761
@ericklarac @keon I can work on this! Can I pick this up?

[2021-12-06 00:45] Moonkyung94 opened #817 "Modify docs/source"
The docs/source template has not been modified for 4 years.
I would like to contribute to this repo by revising this template.
Can I start modifying this document?

[2021-12-14 15:22] keon commented on #761
Yes :) feel free to take any tasks you want

[2022-02-09 20:59] Srishti20022 opened #829 "Views of Binary Tree"
Can I add codes for different views of binary tree
1. Left View
2. Right view
3. Bottom view
4. Top view

[2022-02-28 11:45] JustFredrik commented on #723
Hello, me and my project group in a University course would like to claim this issue, would that be possible? :)

[2022-03-02 12:56] MalinSvenberg commented on #651
I would like to work on this, since it doesn't seem to have been implemented yet. I hope that is alright.

[2022-03-03 14:21] nolanderc opened #839 "Fix TODO in `polynomial.py`"
When working on #761 we discovered an unfixed TODO here: https://github.com/keon/algorithms/blob/15e5292d21f1fde70a4cdb428c25db0192b5b7f0/algorithms/maths/polynomial.py#L444

PR is coming soon.

[2022-03-04 10:41] nolanderc opened #841 "Add A* pathfinding algorithm"
Similar to dijkstra's algorithm, but uses a heuristic to improve performance.

[2022-03-04 10:47] psalqvist opened #843 "Fix Todo add dynamic programming algorithm to min_distance"

[2022-03-04 10:50] psalqvist opened #844 "Add `validate_bst` function"
Should add `validate_bst` for testing purposes

[2022-03-04 11:31] ekorre1001 opened #846 "Add `Fast Fourier Transform` in maths"
I saw that the FFT algorithm was missing in the `maths` folder. So I will go ahead and implement one.

[2022-03-06 13:14] Kubha99 opened #852 "Add Linear Regression"

[2022-03-06 13:16] Kubha99 commented on #852
I saw that Linear Regression algorithm was missing under ML module. Will try to implement it.

[2022-03-06 13:19] iabhishek15 opened #854 "Add Kadane's Algorithm"
I have added kadane's algorithm, which is one of the most basic algorithms that was missing, can you guys please look at my merge request.
#861

[2022-03-07 12:03] finalManu opened #856 "Add count_paths.py dynamic programming, recursive, name change of existing"

[2022-03-07 13:49] NicolasWittmann commented on #723
#860

[2022-03-07 13:51] NicolasWittmann commented on #723
#860 Add minimax implementation in backtrack section
I work in the same team as @JustFredrik

[2022-03-08 13:01] #854 closed

[2022-03-08 13:18] ankit167 commented on #829
Please go ahead

[2022-03-09 17:29] Srishti20022 commented on #829
Yes 🙌

[2022-03-20 11:10] #767 closed

[2022-04-23 22:14] code-review-doctor opened #863 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/keon/algorithms/blob/5f1a7863818b016a62ff03a45980f7ec8a970a07/algorithms/maths/diffie_hellman_key_exchange.py#L182

I found this issue automatically. I'm a bot. Beep Boop 🦊. See other issues I found in your repo [here](https://codereview.doctor/keon/

[2022-06-14 16:06] #863 closed

[2022-07-11 12:00] Bakhtaki opened #872 "Math Series"
Hey There
I was looking for codes and  I didn't find any math series implementation, I Would like to contribute here by writing some of them, if I may.

[2022-07-31 15:34] #872 closed

[2022-08-26 06:11] coder-chica97 commented on #755
Hey, any update on this?!

[2022-09-01 06:31] josezy13 commented on #852
close

[2022-09-06 07:21] josezy13 commented on #852
y

[2022-10-24 18:15] aakash27032001 commented on #846
I would like to implement and add FFT algorithm. I request you to assign this task to me.

[2022-10-24 18:47] aakash27032001 commented on #844
Hello..! I would like to work on this issue, kindly assign this task to me.

[2022-10-24 18:56] aakash27032001 commented on #841
Hello..! I would like to work on this, I request you to assign this task to me.